.flex-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar{
    @extend .flex-layout;
    padding: $base-padding $base-padding*2;
    box-shadow: $base-box-shadow;

    .site-title{
        font-size: $font-size-lg;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
     
    }

    .container{
        @extend .flex-layout;
        width: 40%;
    }
}