$secondary:#FF7700;
svg{
    width: 50px;
    height: 50px;
    
}
//variables and functions
@import'functions';
@import 'variables';

//base and layout
@import 'base';
@import 'breakpoints';
@import 'grid';


//colors
@import 'colors';
//components 
@import 'components/card';
@import 'components/button';
@import 'components/navbar';
@import 'components/badge';


// utilities (margin, padding, opacity, etc)
@import 'utilities';